@charset "uft-8";
body{
    margin-bottom: 120px;
    overflow-x: hidden;
}
.TrainingFeedBtn{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.TrainingFeedBtn p{
    line-height: 2em;
    font-weight: 600;
    margin-bottom: 25px;
}
.TrainingFeedBtn button{
    color: #fff;
    padding: 7px 15px;
    border-radius: 10px;
    background-color: #8993FF;
}